/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $body-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
body p {
	margin: 10px 0;
	font-family:  $body-font;
	font-weight: 400;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1 {
    font-weight: 100;
    font-family: "Raleway", "Lato", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    span.blue {
	    color: $ct-blue;
	}
    span.turq {
		color: $ct-turquoise;
		font-weight: 900;
		text-shadow: 0 0 60px #000
	}
}
h2 {
	font-family: "Adelle-Bold", "Lato", "Helvetica Neue", sans-serif;
	font-size: 25px;
	font-weight: 300;
	color: $ct-blue;
	margin:7.5px 0;
	
}
h3 {
	font-family: Adelle; 
	font-size: 30px; 
	font-weight: 200;
	color: #616973;
	margin: 5px 0;
}
h4 {
	font-family: Lato; 
	font-size: 17px; 
	font-weight: 700;
	color: #616973;
	margin: 5px 0;
}



/**
 * Links
 */
a {
    color: $ct-turquoise;
    text-decoration: none;
    &:visited {
        color: darken($ct-turquoise, 15%);
    }

    &:hover {
        color: darken($ct-turquoise, 15%);
        text-decoration: none !important;
    }
    &.cta {
		 background-color: $ct-turquoise;
		 border-radius: 2px;
		 color: #fff;
		 &.inverse {
			 background-color: #ffffff;
			 color: $ct-turquoise;
		 }
		 &:hover {
			 background-color: $ct-blue-dark;
			 color: #fff;
		 }
	 }
}

/**
 * Buttons
 */
 button {
	 display: inline-block;
	 padding: 10px 20px;
	 margin: 0 10px;
	 border: none;
	 border-radius: 2px;
	 font-size: 16px;
	 font-family: 'Adelle-Regular', 'Lato', Helvetica Neue, serif !important;
	 font-weight: 500 !important;
	 &.cta {
		 background-color: $ct-turquoise;
		 a {color: #fff;}
		 &.inverse {
			 background-color: #ffffff;
			 a {color: $ct-turquoise;}
		 }
		 &:hover {
			 background-color: $ct-blue-dark;
			 a {color: #fff;}
		 }
	 }
 }


/**
 * Blockquotes
 */
blockquote {
    color: $ct-blue;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    /*max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));*/
    max-width: 100%;
    margin:0 auto;
    @extend %clearfix;

    @include media-query($on-laptop) {
        //max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        //max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Forms
 */
 
 input, textarea {
	 padding: 10px;
	 vertical-align: top;
	 border: 1px solid rgba($ct-turquoise, .5);
	 &.cta {
		 background-color: $ct-turquoise;
		 border-radius: 2px;
		 color: #fff;
		 &.inverse {
			 background-color: #ffffff;
			 color: $ct-turquoise;
		 }
		 &:hover {
			 background-color: $ct-blue-dark;
			 color: #fff;
		 }
	 }

 }
