/**
 * Body
 */

/**
 * Site header
 */
.site-header {
    min-height: 56px;
    padding: $spacing-unit*2 0 $spacing-unit;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

    // Positioning context for the mobile navigation icon
    position: relative;
    z-index: 100;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    img {
	    max-width:300px;
    }
    &,
    &:visited {
        color: $white;
    }
    @include media-query($on-palm) {
	    float: none;
	    text-align: center;
	    display: block;
	    margin:0 auto;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
	    font-family: $base-font;
        color: $white;
        line-height: $base-line-height;
        :hover {
	        color: $ct-turquoise !important;
	        text-decoration: none !important;
        }

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 10px;
        right: 20px;
        background-color: $background-color;
        text-align: left;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $ct-blue;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
            a.page-link {
	            :hover {
		            color: $ct-turquoise;
	            }
            }
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {;
    padding: $spacing-unit 0;
    background: $dark-color;
    position: relative;
    bottom:0;
    width:100%;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
    max-width:200px;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    img.logo {
	    max-width: 200px;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 0;
    @media screen and (min-width: 748px) {
	    min-height: 748px;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
