/*===============GENERAL STYLES=========================*/
/*nav*/
nav.site-nav {
	a[href="/privacy-policy/"], a[href="/terms-of-use/"] {
		display: none;
	}
}
/*page title*/
section .hero-title {
	background-size: cover !important;
	background-position: center !important;
	background-color: $dark-color;
	margin-top:-175px;
	padding: 200px 0 75px;
	text-align: center;
}
.post-title {
	color: $ct-turquoise;
}
/*intro copy*/
p.intro {
	color: $white;
	margin: 15px auto;
	text-align: left;
}
/*buttons*/
.button {
	display:block;
	padding: 10px;
	border-radius: 2px;
	&.red {
		background: rgba($ct-red,.85);
		&:hover {
			background: $ct-turquoise;
		}
	}
}
/*fluid containers*/
.container-fluid {
	background-color: $white;
}

/*===============PAGE SPECIFIC STYLES===================*/
section.homepage {
	position: relative;
	z-index: 99;
	margin-top:-175px;
	@include media-query($on-laptop) {
		margin-top: -220px;
	}
	@media screen and (max-width: 600px) {
		margin-top:0px;
	}

	.marquee {
		padding: 275px 0 0;
		background-image:url('/assets/imgs/marquees/teacher-with-student.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@media screen and (max-width: 600px) {
			padding: 55px 15px 0;
		}
		.marquee-text {
			padding-bottom: 90px;
			button {
				font-size: 22px;
			}
		}
		h1 {
			color: $white;
			font-weight: 900;
			font-size: 2.5em;
		}
		@include media-query($on-palm) {
			.marquee-text {
				padding-bottom: 50px;
			}
			button {
				width: 100%;
			}
		}
	}
	.home-cta {
		background: rgba($ct-blue,.7);
		padding: $spacing-unit 0;
		color: $white;
		text-align: center;
		.container {
			padding: 0;
		}
		p { font-size: 20px;}
		button { font-size: 22px; margin: 0 0 0 25px;}
		.signup-form {
			margin-top:-60px;
			.summary {
				padding: $spacing-unit+10 ($spacing-unit*2)+20 $spacing-unit*2 $spacing-unit;
				.row {
					margin-bottom:  $spacing-unit/2;
				}
				@media screen and (max-width: 600px) {
					padding: $spacing-unit+10;
				}
			}
			h4 {
				display: inline;
			}
			h3 {
				color: $white;
				margin-bottom: $spacing-unit+10;
			}
			#mc_embed_signup {
			padding: $spacing-unit+10;
			box-sizing: border-box;
			color: $dark-color;
				@media screen and (max-width: 600px) {
					padding: $spacing-unit/2;
				}
				#mc-embedded-subscribe-form {
					padding-right: 60px;
					border-right: 1px solid rgba(255,255,255,.25);
					@media screen and (max-width: 600px) {
						padding-right:0px;
						border-right: none;
					}
				}
				input {
					background: rgba($white, .75);
					border: none;
					padding: 10px;
					width: 100%;
				}
				input[type=submit] {
					background: rgba($ct-turquoise, .85);
					font-weight: bold;
					margin: 15px 0 0;
					color: $white;
					&:hover {
					background: $ct-blue-dark;
					}
				}
				.mc-field-group {
					display: inline-block;
					margin: 15px auto;
				}
				label {
					display: block;
					font-weight: 200;
					color: $white;
				}
			}
		}
		@include media-query($on-palm) {
			display: none;
		}
	}
	#video {
		background-color: #434a54;
		text-align: center;
		padding: 1em;
		video {
			width: 100%;
			height:auto;
			max-width: 720px;
			max-height: 358px;
		}
	}
	#learn-more-summary {
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: $white;
		p:first-of-type {
			text-align: center;
		}
		p > i.fa  {
			text-align: center;
			color: $ct-yellow-dark;
			font-size:50px;
		}
		h2 {
			text-align: center;
		}
		.row.row-centered {
			text-align: center;
			padding: 1em 0;
		}
	}
	#vision-mission {
		background: $dark-color;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: left;
		padding: 3.5em 0;
		.col-centered {
			text-align: center;
			p {
				color: $white;
				width: 90%;
				display: block;
				margin: 10px auto 20px;
				text-align: left;
			}
		}
		@include media-query($on-palm) {
			background-size: cover;
			padding:20px;
			.col-centered {
				padding: 10px 0px;
			}
		}
	}
}
//About Page
.about {
	.hero-title {
		margin-top: -175px;
		padding: 200px 0 75px;
		text-align: center;
		background: $dark-color;
		.post-title {
			span.blue {
				color: $ct-blue;
			}
			span.turq {
				color: $ct-turquoise;
			}
		}
		@include media-query($on-palm) {
			margin-top: 0px;
			padding: 75px 0;
		}
	}
    .post-intro {
        padding:50px 0;
        text-align: left;
    }
    .row {
        padding: 30px 0;
        text-align: center;
        h2:after {
            content: '';
            display: block;
            height: 1px;
            width: 10%;
            margin: 10px auto;
            background-color: $ct-turquoise;
        }
        &.team-bios {
	        background-color: rgba($grey-color-light, .5)
        }
        &.achievements {
	        background-color: $grey-color-light;
	        p {
		        font-size:12px;
		        margin-top: -15px;
		        color: rgba($ct-blue, .65);
	        }
        }
    }
    .team {
        .col-md-4 {
            padding: 50px 30px;
         }
         p {
	         text-align: left;
         }
    }
    .team.founders .col-md-4 h3 {
                position: relative;
                bottom: 75px;
                text-align: center;
                color: $white;
            }

}

//learn More Page
body.learn-more {
	padding-top:0px;
	padding-bottom: 0px !important;
	.hero-title {
		margin-top: -175px;
		padding: 200px 0 75px;
		text-align: center;
		background: linear-gradient(rgba($dark-color, .25), rgba($dark-color, .5)), url('/assets/imgs/marquees/student-on-laptop.jpg');
		background-size: 100%;
		background-position: center;
		.post-title {
			span.blue {
				color: $ct-blue;
			}
			span.turq {
				color: $ct-turquoise;
			}
		}
	}
	.post .container:first-child {
		width: 100% !important;
	}
	.post-content {
		margin-bottom: 0px;
		h2 {
			text-align: center;
			&:after {
				content: '';
				display: block;
				height: 1px;
				width: 10%;
				margin: 10px auto;
				background-color: #48CFAD;
			}
		}
	}
	#tabs {
		ul.ui-tabs-nav {
			padding: 0;
			margin: 0;
			background-color: $grey-color-light;
			text-align: center;
			
			li {
				display: inline-block;
				width: 16%;
				text-align: center;
				border-right: 1px solid rgba($white, .5);
				a {
					font-weight: 500;
					color: $ct-turquoise;
					display: block;
					padding: 20px 0;
				}
				&:last-child {
					border-right: none;
				}
				&.ui-state-active, &:hover {
					border-bottom: 2px solid $ct-blue;
					a {
						color: $ct-blue;
					}
				}
			}
		}
		.tab-content {
			padding: 1.5em 0 3.5em;
			ul {
				padding: 0;
			}
		}
	}
	@include media-query($on-palm) {
		.hero-title {
			margin-top: 0px;
			padding: 75px 0;
			background-size: cover;
		}
		#tabs ul.ui-tabs-nav {
			li {
				width: 100% !important;
			}
		}
	}
}
//Legal
body.legal {
	padding-top:0px;
	.hero-title {
		margin-top: -175px;
		padding: 200px 0 75px;
		text-align: center;
		background: $dark-color;
		background-size: 100%;
		background-position: center;
		.post-title {
			span.blue {
				color: $ct-blue;
			}
			span.turq {
				color: $ct-turquoise;
			}
		}
		@include media-query($on-palm) {
			margin-top: 0px;
			padding: 75px 0;
		}
		p.intro {
			text-align: center;
		}
	}
	.row {
		padding: 1.5em 0;
	}
}
//Contact Us Page
.contact-us {
	.form {
		background: $white;
		.col-md-6 {
			padding: 0 5%;
		}
		h3 {
			color: $ct-blue;
			font-size: 18px;
			padding: 15px 0;
			margin-bottom: 30px;
			border-bottom: 1px solid $grey-color-light;
		}
		input, textarea {
			width:100%;
			margin-bottom: 25px;
			&.cta {
				width: 50%;
			}
		}
	}
}
